[submodule "my_plugins/SimpylFold"]
	path = my_plugins/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "my_plugins/vim-textobj-user"]
	path = my_plugins/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "my_plugins/vim-textobj-python"]
	path = my_plugins/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python.git
[submodule "my_plugins/vim-flake8"]
	path = my_plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "my_plugins/vim-autopep8"]
	path = my_plugins/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "my_plugins/fzf"]
	path = my_plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "my_plugins/fzf.vim"]
	path = my_plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "my_plugins/CompleteParameter.vim"]
	path = my_plugins/CompleteParameter.vim
	url = https://github.com/tenfyzhong/CompleteParameter.vim.git
